<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Mike Bowser">
    <meta property="og:image" content="insert pic here">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mikebowser.com">
    <meta property="og:title" content="Mike Bowser UX design and design Systems">
    <meta property="og:description" content="Product design leader with 20+ years experience across the product development lifecycle and a particular passion for design systems">
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/style.css">